
.wrap {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.wrap__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 80px 72px 60px; !**размер надо менять *!
    gap: 48px;*/

    position: absolute;
    width: 424px;
    height: 544px;
   /* left: 508px; !**размер надо менять *!*/
    top: 160px;

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0 12px 26px rgba(232, 233, 236, 0.57);
    border-radius: 24px;
}
.wrap__Container_Head {
    width: 123px;
    height: 28px;
    /* Title / Medium_20 */
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: center;
    /* Grayscale/800 */
    color: #0B1332;
    margin: 80px 0 0 0;
}
.wrap__Container_Middle {
    margin-top: 48px; /*вместо gap*/
    width: 280px;
    height: 184px; /*164 было до дива с ошибкой на 20*/
}
.wrap__Container_Middle_Label, .wrap__Container_Middle_Label_Password {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* Caption / Regular_12 */
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    /* Grayscale/800 */
    color: #0B1332;
    margin: 0 0 0 0;
}
.wrap__Container_Middle_Cross {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: auto;
    left: 250px;
    top: 35px;
    cursor: pointer;
}

.red_border {
    border: 1px solid #F46666;
}

.cross_Block {
    display: none;
}
.wrap__Container_Middle_Label_Password_Btn { /*для креста и глаза*/
    position: absolute;
    left: 213px;
    top: 30px;
    z-index: 1;
    width: 47px;
    height: 19px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
.wrap__Container_Middle_Eye {
    width: 20px;
    height: auto;
    cursor: pointer;
    order: 2;
}
.wrap__Container_Middle_Cross_Pas {
    width: 10px;
    height: auto;
    cursor: pointer;
    margin-left: 16px;
    order: 1;
}
.wrap__Container_Middle_Label_Password {
    margin-top: 28px;
}
p {
    margin: 0 0 0 0;
}
input {
    width: 260px;
    border-radius: 12px;
    height: 48px;
    background: #F2F3F4;
    border-width: 0;
    padding: 0 0 0 20px;
}
.wrap__Container_Middle_Input, .wrap__Container_Middle_Password_Input {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*padding: 14px 20px;*/
    /*gap: 10px;*/ /**/
    /* Grayscale / 200 */
    background-color: #F2F3F4;
    border-radius: 12px;
    font-family: 'GilroyLight'; /**/
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.wrap__Container_Middle_Error {
    margin-top: 4px;
    width: 280px;
    height: 20px;
}

.wrap__Container_Middle_Error_text {
    font-family: 'GilroyLight'; /**/
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #F46666;
    margin-top: 4px;
}

.wrap__Container_Bottom {
    display: flex;
    flex-direction: column;
    margin-top: 24px; /*вместо gap*/
}

.wrap__Container_Bottom_Btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    border-width: 0;
    width: 280px;
    height: 52px;
    background: #E5EBFF;
    border-radius: 12px;
    font-family: 'GilroyLight'; /**/
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #466EFA;
}

.wrap__Container_Bottom_Text {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

.wrap__Container_Bottom_Text_Left {
    width: 125px;
    height: 20px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #0B1332;
    margin: 0;
}
.wrap__Container_Bottom_Text_Right{
    width: 139px;
    height: 20px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #466EFA;
    margin-left: 8px;
}