

.wrap__own {
    width: 1400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-left: 280px;
    padding-top: 80px;
}

.wrap__own_backBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    text-decoration: none;
    width: 82px;
    height: 36px;
    margin-right: 306px;
}

.wrap__own_vector {
    width: 9px;
    height: 20px;
}
.wrap__own_vector_item {
    width: 9px;
    height: 8px;
    color: #6F7488;
}
.wrap__own_text {
    width: 42px;
    height: 20px;

    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6F7488;
    text-decoration: none;
}
.wrap__own_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 80px 72px 60px;*/
   /* gap: 48px;*/

    /*position: absolute;*/
    width: 424px;
    height: 576px;
    /*left: 508px;*/
    top: 160px;

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 12px 26px rgba(232, 233, 236, 0.57);
    border-radius: 24px;
}
.wrap__own_Container_Head {
    margin-top: 80px;
    width: 246px;
    height: 28px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #0B1332;
}
.wrap__own_Container_Middle {
    margin-top: 48px; /*вместо gap*/
    width: 280px;
    height: 260px;
}
.wrap__own_Container_Bottom {
    margin-top: 36px;
}

