
:root {

}

.wrap__Profile {
    width: 1400px;
    position: relative;
    z-index: 0;
}
@media only screen and (max-width: 1320px) {
    /*при 1321 будет 1400 при 1319 будет уже 100%*/
    .wrap__Profile {
        width: 100vw;
    }
}
.wrap__Out {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #545762;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}

.wrap__Out_menu {
    display: flex;
    position: relative;
    z-index: -1;
    width: 332px;
    height: 204px;
    isolation: isolate;

    background: #FFFFFF;
    border-radius: 24px;
}
.wrap__Out_cross {
    position: relative;
    width: 10.5px;
    height: 10.5px;
    left: 89.5%;
    top: 12.1%;
}

.cross_gray {
    /*background-color: #CACDD7;*/
}

.wrap__Out_text{
    width: 260px;
    height: 56px;
    margin-left: 24px;
    margin-top: 36px;
}
.wrap__Out_text_item {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #0B1332; /*#466EFA 0B1332*/

}
.wrap__Window {
    position: relative;
    z-index: 1;
}

.wrap__Header {
    max-width: 1400px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap__Header_Logo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 120px 20px 8.57%;
    gap: 16px;
    width: 40%;
}

@media only screen and (max-width: 900px) {
    .wrap__Header_Logo {
        padding: 20px 20px 20px 22.4px;
        width: 30%;
    }
}

@media only screen and (max-width: 670px) {
    .wrap__Header_Logo {
        padding: 20px 0px 20px 6.4px;
        width: 10%;
    }
}
.wrapHeaderLogoImg {
    width: 22px;
    height: 22px;
}
.wrap__Header_Text {
    margin: 0 0 0 0;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}
@media only screen and (max-width: 670px) {
    .wrap__Header_Text {
        display: none;
    }
}
.wrap__Header_data {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding:  20px 9.14% 20px 0px;
    width: 40%;
}

@media only screen and (max-width: 900px) {
    .wrap__Header_data {
        padding: 20px 40px 20px 0px;
        width: 70%;
    }
}

@media only screen and (max-width: 670px) {
    .wrap__Header_data {
        padding: 20px 24px 20px 0px;
        width: 90%;
    }
}

.wrap__Header_out_text {

    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #466EFA;
    margin-right: 8px;
    cursor: pointer;

}
.wrap__Header_link {
    text-decoration: none;
}

.wrap__Header_out_img {
    margin-top: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.wrap__Header_data_name {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1332;
    margin-right: 20px;
}

.wrap__Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 0px 0px 120px ;
}

@media only screen and (max-width: 1320px) {
    .wrap__Title {
        padding: 48px 0px 0px 32px
    }
}
@media only screen and (max-width: 670px) {
    .wrap__Title {
        padding: 48px 0px 0px 16px
    }
}

.wrap__Title_text {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #0B1332;
}
.wrap__Title_img {
    margin-left: 36px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.wrap__Title_btn {
    margin-left: 8px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #466EFA;
    cursor: pointer;
}
@media only screen and (max-width: 670px) {
    .wrap__Title_btn {
        display: none;
    }
}

/**Data**/

.wrap__Data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px 0px 0px 120px ; /*120 слева*/
}

@media only screen and (max-width: 1320px) {
    .wrap__Data {
        padding: 36px 0px 0px 32px /*32 слева*/
    }
}

@media only screen and (max-width: 670px) {
    .wrap__Data {
        flex-wrap: wrap;
        padding: 36px 0px 0px 16px /*16 слева*/
    }
}

.wrap__Data_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrap__Data_name {

}
.wrap__Data_title {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717583;
}
.wrap__Data_text {
    margin-top: 6px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1332;
}
.wrap__Data_secondName {
    margin-left: 60px;
}
.wrap__Data_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}
@media only screen and (max-width: 670px) {
    .wrap__Data_right {
        margin-left: 0;
        margin-top: 24px;
    }
}


/**Banner**/

.wrap__Banner {
    margin: 72px 0px 0px 120px ; /*120 слева*/
}

@media only screen and (max-width: 1320px) {
    .wrap__Banner {
        margin: 72px 32px 0px 32px /*32 слева*/
    }
}
@media only screen and (max-width: 670px) {
    .wrap__Banner {
        margin: 48px 32px 0px 16px /*16 слева*/
    }
}

.wrap__Banner_item {
    width: 100%;
    height: 234px;

    background: #F6F8FF;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 670px) {
    .wrap__Banner_item {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
}

.wrap__Banner_left {
    padding: 42px 0px 0px 40px ; /*40 слева*/
}
@media only screen and (max-width: 670px) {
    .wrap__Banner_left {
        padding: 0 0 0 0;
    }
}
.wrap__Banner_title {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #0B1332;
}

.wrap__Banner_text {
    padding-top: 12px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1332;
}

.wrap__Banner_btn {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 48px;
    background: #466EFA;
    border-radius: 12px;

    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

@media only screen and (max-width: 670px) {
    .wrap__Banner_title {
        padding-top: 28px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .wrap__Banner_text {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 32px;
    }
    .wrap__Banner_btn {
        margin: auto;
    }
}

.wrap__Banner_right {
    margin-left: 27%;
}

@media only screen and (max-width: 900px) {
    .wrap__Banner_right {
        margin: 64px 0 0 41px;
    }
}

.wrap__Banner_illustration {

}
.wrap__Banner_illustration_img {
    /*250*250*/
}

/**Accordion**/

.wrap__Accordion {
    margin: 70px 0px 0px 120px ; /*120 слева*/
}

@media only screen and (max-width: 1320px) {
    .wrap__Accordion {
        margin: 70px 32px 0px 32px /*32 слева*/
    }
}
@media only screen and (max-width: 670px) {
    .wrap__Accordion {
        margin: 70px 32px 0px 16px /*16 слева*/
    }
}

.wrap__Accordion_title {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #0B1332;
}

/* The accordion functionality */
:root {
    --transitionLength: 0.4s;
    --transitionTiming: ease;
}

.accordion-animation-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows var(--transitionLength) var(--transitionTiming);
}

.accordion-trigger-input:checked ~ .accordion-animation-wrapper {
    grid-template-rows: 1fr;
}

.accordion-animation {
    min-height: 0;
}

.accordion-transform-wrapper {
    transform: translateY(-100%);
    visibility: hidden;
    transition: transform var(--transitionLength) var(--transitionTiming), visibility 0s var(--transitionLength) var(--transitionTiming);
}

.accordion-trigger-input:checked ~ .accordion-animation-wrapper .accordion-transform-wrapper {
    transform: translateY(0);
    visibility: visible;
    transition: transform var(--transitionLength) var(--transitionTiming), visibility 0s linear;
}

/* Margins inside the container will throw animation height calculations off, better use paddings */
.accordion-content * {
    margin: 0;
    padding-left: 10px;
}


/* The styles */

/*body {
    margin: 0;
    padding: 16px 0;
    background: #e3e5e7;
    font-family: sans-serif;
    color: #333;
}*/

.accordion {
    min-width: 320px;
    width: 100%;
    margin-left: 0px;
    background: white;
}

.accordion-item {
   /* border-top: 2px solid #676767;
    border-bottom: 2px solid #676767;*/

    /*height: 72px;*/
    background: #FFFFFF;
    box-shadow: 0px 12px 26px rgba(232, 233, 236, 0.57);
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: -2px;
    overflow: hidden;
}

.accordion-trigger-input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.accordion-trigger {
    display: block;
    position: relative;
    padding: 26px;
    transition: box-shadow var(--transitionLength) var(--transitionTiming);
    z-index: 1;
    cursor: pointer;

    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1332;
}

@media only screen and (max-width: 670px) {
    .accordion-trigger {
        padding: 26px 36px 26px 26px; /*справа 36*/
    }
}
.accordion-trigger-input:focus-visible ~ .accordion-trigger {
    outline: 2px solid;
    outline-offset: -2px;
}

.accordion-trigger::after {
    display: block;
    position: absolute;
    right: 24px;
    top: 32px;
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #676767;
    border-bottom: transparent;
    border-left: transparent;
    transform: rotate(135deg);
    transition: transform var(--transitionLength) var(--transitionTiming);
}

.accordion-trigger-input:checked ~ .accordion-trigger::after {
    transform: rotate(135deg) rotateX(180deg) rotateY(180deg) translateY(4px) translateX(-4px);
}

.accordion-trigger-input:checked ~ .accordion-trigger {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: box-shadow calc(var(--transitionLength) / 4) var(--transitionTiming);
}

.accordion-content {
    padding: 16px;
    background: white;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0B1332;
}

.accordion-content h2 {
    padding-bottom: 0.75em;
}

.accordion-content p {
    padding-bottom: 1.5em;
}

.accordion-content p:last-of-type {
    padding-bottom: 0;
}

.accordion-content img {
    max-width: 100%;
}

.wrap__Black {
    width: 100%;
    margin-top: 33px;
    display: none;
}

@media only screen and (max-width: 670px) {
    .wrap__Black {
        display: block;
    }
}

.wrap__Black_item {
    margin: auto;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px/2 + 0.5px);
    bottom: 8px;
    background: #000000;
    border-radius: 100px;
}