.wrap__Header {
    width: 1400px;
    background-color: white;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap__Header_Logo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 120px;
    gap: 16px;
    width: 40%;

}
.wrapHeaderLogoImg {
    width: 22px;
    height: 22px;
}
.wrap__Header_Text {
    margin: 0 0 0 0;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}
.wrap__Header_data {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding:  20px 128px 20px 0px;
    width: 40%;
}

.wrap__Header_out_text {

    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #466EFA;
    margin-right: 8px;
    cursor: pointer;

}
.wrap__Header_link {
    text-decoration: none;
}

.wrap__Header_out_img {
    margin-top: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.wrap__Header_data_name {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1332;
    margin-right: 20px;
}
.wrap__Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 0px 0px 120px ;
}

.wrap__Title_text {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #0B1332;
}
.wrap__Title_img {
    margin-left: 36px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.wrap__Title_btn {
    margin-left: 8px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #466EFA;
    cursor: pointer;
}
/*****/
.wrap__Data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px 0px 0px 120px ; /*120 слева*/
}
.wrap__Data_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrap__Data_name {

}
.wrap__Data_title {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717583;
}
.wrap__Data_text {
    margin-top: 6px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B1332;
}
.wrap__Data_secondName {
    margin-left: 60px;
}
.wrap__Data_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}