

.wrap__Container_reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 80px 72px 60px;*/
    /*gap: 48px;*/

    position: absolute;
    width: 424px;
    height: 640px;
    /*left: 508px;*/
    top: 160px;

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0 12px 26px rgba(232, 233, 236, 0.57);
    border-radius: 24px;;
}

@media only screen and (max-width: 770px) {
    .wrap__Container_reg {
        top: 136px;
    }
}
@media only screen and (max-width: 480px) {
    .wrap__Container_reg {
        width: 91.46%;
        top: 115px;
    }
}
.wrap__Container_Middle_reg {
    margin-top: 48px; /*вместо gap*/
    width: 280px;
    height: 280px;
}

.wrap__Container_Bottom_Text_reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 36px;
}
.wrap__Container_Bottom_Text_Left_reg {
    width: 120px;
    height: 20px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #0B1332;
    margin: 0;
    text-align: right;
}
.wrap__Container_Bottom_Text_Right_reg {
    width: 40px;
    height: 20px;
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #466EFA;
    margin-left: 8px;
}
.wrap__Container_Middle_Label_Password_Again {

}

/*текста ошибок*/
.wrap__Container_Error {
    font-family: 'GilroyLight'; /**/
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #F46666;
    margin-top: 4px;
}
.wrap__Container_Middle_Password,
.wrap__Container_Middle_Email,
.wrap__Container_Middle_SecPassword {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* Caption / Regular_12 */
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    /* Grayscale/800 */
    color: #0B1332;
    margin: 8px 0 0 0;
}
/*зеденая галочка для инпута пароля*/
.wrap__Container_Middle_markPassword {
    position: relative;
    z-index: 2;
    width: 16px;
    height: auto;
    left: 7px;
}
.wrap__Out_btn_Reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: 48px;
    margin-left: 24px;
    margin-top: 36px;
}
.wrap__Out_text_item_Reg {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #0B1332;
    margin-left: 10px;
}